body{
	font-family: "futura-pt", sans-serif;
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	line-height: 32px;
	border: 80px solid #075BC2;
}

h1{
	font-family: "forma-djr-banner", sans-serif;
	font-size: 300px;
	font-weight: bold;
	line-height: 200px;
	letter-spacing: 2px;
	font-weight: 700;
	margin-left: -1%;
	color:#ffffff;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000000;
}
.second{
	font-size: 112px;
	color:#CB3E2F;
	line-height: 0px;
	position: absolute;
	margin-left: 40%;
}
.third{
	font-family: "Permanent Marker", cursive;
	font-size: 350px;
	margin-left: 55%;
	display: inline-block;
	color:#000000;
	margin-top: 80px;
	-webkit-text-stroke-width: 0px;
	line-height: 0px;
}
#b{
	text-indent: 0%;
	font-size: 28px;
}
h2{
	font-family: "forma-djr-banner", sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
	margin-left: 5%;
	letter-spacing: 2px;
	padding-top: 5%;
}
p{
	max-width: 65ch;
	margin-left: 5%;
	margin-right: 55%;
	margin-bottom: 48px;
	text-indent: 8%;
}

details{
	margin-left: 5%;
	margin-bottom: 80px;
	max-width: 25%;
	margin-top: 80px;
}
summary {
	list-style-type: '↧ ';
}
details[open] > summary {
	list-style-type: '↥ ';
	color: #CB3E2F;
  }
summary::marker{
	color:#CB3E2F;
	font-size: 30px;
}
ul{
	padding-left: 2rem;
	list-style-type: square;
}
#list-title {
	font-style: bold;
}
#list-title:hover{
	color: #1E75BE;
}
blockquote{
	font-family: "forma-djr-banner", sans-serif;
	font-size: 40px;
	line-height: 50px;
	padding-top: 5%;
	margin-left: 55%;
	margin-right: 5%;
	margin-bottom: 48px;
	max-width: 60%;
	font-weight: 700;
	position: sticky;
}
#quote {
	font-style: italic;
}
cite{
	font-size: 18px;
	font-weight: bold;
}
a {
	color: #CB3E2F;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
	border: 4px solid #CB3E2F;
	padding: 16px;
	margin: 5%;
}
a:hover{
	color: #1E75BE;
	border: 4px solid #1E75BE;
}