
body{
	font-family: "Inter", sans-serif;
	font-family: "neue-haas-grotesk-text", sans-serif;
	background-color: #fcfbf7;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	background:
	linear-gradient(-90deg, rgba(238, 25, 25, 0.05) 1px, transparent 1px),
	linear-gradient(rgba(0, 89, 255, 0.05) 1px, transparent 1px);
	background-size: 16px 16px,16px 16px;
}

h1{
	font-family: "Inter", sans-serif;
	font-family: "neue-haas-grotesk-display", sans-serif;
	line-height: 100px;
	font-size: 100px;
	font-weight: bold;
	color: #1173EE;
	letter-spacing: 2px;
	font-weight: 700;
	position: relative; 
  	animation: sway1 5s infinite; 
}

@keyframes sway1 {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(20px); 
	}
	100% {
	  transform: translateX(0); 
	}
  }

h1:nth-child(2) {
	color: #F7941C;
	font-style: oblique;
	position: relative; 
	animation: sway2 6s infinite; 
}

@keyframes sway2 {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(70px); 
	}
	100% {
	  transform: translateX(0); 
	}
  }

h1:nth-child(3) {
	color: #CB3E2F;
	text-transform: uppercase;
	margin-left: 10%;
	margin-bottom: 5%;
	position: relative; 
	animation: sway3 7s infinite; 
}

@keyframes sway3 {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(100px); 
	}
	100% {
	  transform: translateX(0); 
	}
  }

h2{
	font-family: "Inter", sans-serif;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 54px;
	font-weight: bold;
	line-height: 60px;
	margin-left: 5%;
	letter-spacing: 2px;
	padding-top: 5%;
	color: #1173EE;
}

h2:nth-child(2) {
	margin-top: -8%;
}

h2:nth-child(3) {
	margin-left: 20%;
	margin-bottom: 5%;
	color: #F7941C;
	font-style: oblique;
}

h3{
	font-family: "Inter", sans-serif;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 34px;
	margin-left: 5%;
	padding-bottom: 48px;
	color: #CB3E2F;
}

h3:nth-child(2) {
	color: #CB3E2F;
	font-style: oblique;
	position: relative; 
	animation: sway1 6s infinite; 
}

#h3-art{
	color: #1173EE;
}

#h3-artist{
	
}

h3:nth-child(7) {
	color: #F7941C;
	font-style: oblique;
	position: relative; 
	animation: sway1 6s infinite; 
}

h3:nth-child(9) {
	color: #1173EE;
	font-style: oblique;
	position: relative; 
	animation: sway1 6s infinite; 
}

p{
	max-width: 50ch;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 48px;
}

details{
	margin-left: 15%;
	margin-bottom: 32px;
	margin-top: 32px;
	height: 200px;
}

summary {
	list-style-type: '↧ ';
	font-weight: 700;
}

details[open] > summary {
	list-style-type: '↥ ';
	color: #000000;
	font-weight: 700;
  }

summary::marker{
	color:#CB3E2F;
	font-size: 30px;
}

ul{
	padding: 2rem;
	list-style-type: square;
}

#list-title {
	font-style: bold;
}

#list-title:hover{
	color: #1173EE;
}

blockquote{
	font-family: "Inter", sans-serif;
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-size: 24px;
	line-height: 30px;
	margin: 5%;
	margin-bottom: 48px;
	max-width: 40ch;
	padding: 16px;
	background-color: #F7941C;
	color: #000000;
}

.sticky-element-one {
	background-color: #F7941C;
}

.sticky-element-two {
	background-color: #CB3E2F;
}

.sticky-element-three {
	background-color: #1173EE;
}

.sticky-element-five {
	background-color: #CB3E2F;
}

.quote {
	font-style: italic;
}

cite{
	font-size: 18px;
	font-weight: bold;
}

.bio{
	font-size: 12px;
	font-weight: 200;
	float: right;
	opacity: 50%;
	line-height: 40px;
}

.emphasized{
	font-weight: 700;
}

.button{
	margin-top: 16px;
	line-height: 80px;
}

a {
	color: #1173EE;
	font-size: 20px;
	font-weight: 700;
	border: 4px solid #CB3E2F;
	padding: 16px;
	margin: 5%;
}

a:hover{
	color: #CB3E2F;
	border: 4px solid #1173EE;
}

#subtitle{
	text-indent: 0%;
}

@media (min-width: 1080px) {

	h1{
		font-family: "Inter", sans-serif;
		font-family: "neue-haas-grotesk-display", sans-serif;
		line-height: 200px;
		font-size: 160px;
		font-weight: bold;
		color: #1173EE;
		letter-spacing: 2px;
		font-weight: 700;
		position: relative; 
		  animation: sway1 5s infinite; 
	}
	
	@keyframes sway1 {
		0% {
		  transform: translateX(0);
		}
		50% {
		  transform: translateX(100px); 
		}
		100% {
		  transform: translateX(0); 
		}
	  }
	
	h1:nth-child(2) {
		color: #F7941C;
		font-style: uppercase;
		margin-top: -6%;
		margin-left: 50%;
		position: relative; 
		animation: sway2 6s infinite; 
	}
	
	@keyframes sway2 {
		0% {
		  transform: translateX(0);
		}
		50% {
		  transform: translateX(200px); 
		}
		100% {
		  transform: translateX(0); 
		}
	  }
	
	h1:nth-child(3) {
		color: #CB3E2F;
		font-style: oblique;
		margin-top: 6%;
		margin-left: 10%;
		margin-bottom: 5%;
		position: relative; 
		animation: sway3 7s infinite; 
	}
	
	@keyframes sway3 {
		0% {
		  transform: translateX(0);
		}
		50% {
		  transform: translateX(300px); 
		}
		100% {
		  transform: translateX(0); 
		}
	  }
	
	body{
		font-size: 20px;
		line-height: 30px;
	}
	
	blockquote{
		margin-left: 65%;
		margin-right: 5%;
		max-width: 60%;
	}
	
	.sticky-element-one {
		position: sticky;
		top: 32px;
		z-index: 1000;
	}
	
	.sticky-element-two {
		position: sticky;
		top: 48px;
		z-index: 1000;
	}
	
	.sticky-element-three {
		position: sticky;
		top: 64px;
		z-index: 1000;
	}
	
	.sticky-element-four {
		position: sticky;
		top: 80px;
		z-index: 1000;
	}
	
	.sticky-element-five {
		position: sticky;
		top: 96px;
		z-index: 1000;
	}

  }